* {
    padding: 1;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 156, 137);
}

ul {
    background-color: rgb(59, 57, 58);
    color: white;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    font-weight: 100;
}

li a:hover {
    color: red;
}

.container {
    width: 250px;
    height: 300px;
    border: 2px solid rgb(80, 80, 247);
    margin: 0px auto;
    border-radius: 5px;
    background-color: white;
}

.main {
    padding: 30% 30px;
}
